body, html {
    font-family: 'Inter';
    height: 100%;
    margin: 0;
    background: #333;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 475px;
    background: rgba(80, 79, 79, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
    border: .5px solid; color: white;
    animation: fadeIn 1.25s ease-in-out forwards;
}

.rectangle-image {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 250px;
    width: 250px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: .5px solid white;
}

.rectangle-text {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    font-size: larger;
}

.button-container {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
    background: rgba(80, 79, 79, 0.7);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
    transition: background 0.3s;
    text-align: center;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    background: rgba(80, 79, 79, 1);
}

.button-container2 {
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: rgba(80, 79, 79, 0.7);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
    transition: background 0.3s;
    width: 69px;
    text-align: center;
}

.button2:last-child {
    margin-right: 0;
}

.button2:hover {
    background: rgba(80, 79, 79, 1);
}

.button-container3 {
    position: absolute;
    top: 90%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 90%;
    margin-right: 10%;
}

.button3 {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: rgba(80, 79, 79, 0.7);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
    transition: background 0.3s;
    width: 60px;
    text-align: center;
}

.button3:last-child {
    margin-right: 0;
}

.button3:hover {
    background: rgba(80, 79, 79, 1);
}

.background::before {
    content: "";
    position: absolute;
    top: -10%;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: fall 2s linear infinite;
    animation-delay: -1s;
    z-index: -1;
}

.source-code-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.source-code-button-text {
    color: white;
    text-decoration: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fall {
    0% { top: -10%; }
    100% { top: 110%; }
}
